.form__signUp{
    min-height: 100vh;
    text-align: center;
}
.form__content{
    height: auto;
    width: 400px;
    padding: 30px;
    background-color: #68D69D;
    color: hsl(261, 64%, 31%);
    box-shadow: 0px 0px 20px hsl(261, 64%, 31%);
}